.expensefrom {
    border: 1px solid rgb(13, 10, 10);
        background-color: rgb(255, 154, 11);
        border-radius: 20px;
        color: rgb(248, 247, 247);
        margin: 5px 5px auto 2px;
        padding: 10px;
        display: inline-block;
}
.input {
    display: flex;

}
.input label{
     margin-left:25px;
    margin-right: 5px;
}
.expensefrom button {
    margin-top: 3%;
    font: inherit;
    background-color: blue;
    border: 1px solid rgb(2, 2, 2);
    color: white;
    font-weight: bold;
    padding: 0.5rem 2rem;
    border-radius: 6px;
    cursor: pointer;
}

.expensefrom button:hover {
        background-color: #0a178d;
        color: #fdfbff;
    }
.premium button {
    font: inherit;
    background-color: black;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    }

    .premium button:hover {
        background-color: #452015;
        color: #fdfbff;
      }


.expensefrom input {
    border:0.5px solid brown;
    margin:5px;
    border-radius:4px;

}
.expensefrom select{
    border:0.5px solid brown;
    margin:5px ;
    border-radius:4px;
}

.text{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-top: 3%;
    text-align: center;
    color: antiquewhite;
    background-color: #12c1df;
}

.csv button {
    font: inherit;
    background-color: rgb(26, 203, 220);
    border: 1px solid white;
    color: white;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    }

    .csv button:hover {
        background-color: #0597ab;
        color: #ffffff;
      }