.starting {
  margin: 3rem auto;
  text-align: center;
}

.starting h1 {
  font-size: 4rem;
  color: aliceblue;
  background-color: rgb(54, 154, 11);
  padding-top: 2%;
  padding-bottom: 2%;
}
.starting h3 {
  color:red;
}
.starting h4 {
  color: green;
}